<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <h1>Student Management System</h1>
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>web page</title>
    {% endif %}
</head>
<body bgcolor="cyan">

    {%block content %}


    {% endblock %}
</body>
</html>
